<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Buy</title>

    <link rel="stylesheet"
          href="../../static/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="../../static/css/new-css.css"/>
    <link rel="stylesheet"
          href="../../static/css/home-page.css"/>
    <link rel="stylesheet"
          href="../../static/css/buy.css"/>

    <script
            src="../../static/node_modules/jquery/dist/jquery.min.js"></script>
    <script
            src="../../static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script
            src="../../static/node_modules/js-cookie/src/js.cookie.js"></script>

    <script
            src="../../static/js/main-pages/buy.js"></script>
</head>

<body style="background-color:black">

<div class="main-content">
    <div id="homePageText">
        <h1>
            Admin_menu
        </h1>
    </div>

    <div id="hiddenFormContainer">

        <div id="buttonContainer0">
            <button type="button" class="btn btn-primary" onclick="window.location.href='new_book'">
                Create book
            </button>
        </div>

        <div id="buttonContainer1">
            <button type="button" class="btn btn-primary" onclick="window.location.href='books_all_change'">
                Change book
            </button>
        </div>

        <div id="buttonContainer2">
            <button type="button" class="btn btn-primary" onclick="window.location.href='books_genre'">
                Change Genre
            </button>
        </div>

        <div id="buttonContainer3">
            <button type="button" class="btn btn-primary" onclick="window.location.href='books_auth'">
                Change Author
            </button>
        </div>

        <div id="buttonContainer4">
            <button type="button" class="btn btn-primary" onclick="window.location.href='auth'">
                Create Author
            </button>
        </div>

        <div id="buttonContainer5">
            <button type="button" class="btn btn-primary" onclick="window.location.href='genre'">
                Create genre
            </button>
        </div>
    </div>

</div>
<!---->
</body>
</html>