<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <link rel="stylesheet"
          href="../../static/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="../../static/css/new-css.css"/>
    <link rel="stylesheet"
          href="../../static/css/home-page.css"/>

    <script
            src="../../static/node_modules/jquery/dist/jquery.min.js"></script>
    <script
            src="../../static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script
            src="../../static/node_modules/js-cookie/src/js.cookie.js"></script>

    <script
            src="../../static/js/change/change_auth.js"></script>
</head>

<body style="background-color:black" onload="fillBookData()">

<div class="main-content">
    <div id="homePageText">
        <h1>
            Book Authors
        </h1>
    </div>

    <div id="bookDataDisplayContainer">

        <div id="bookAttributeData" class="bookDataBox">

            <div id="bookNameField">
                Name:
            </div>

            <div id="bookDescriptionField">
                Description:
            </div>

            <div id="bookPriceField">
                Price:
            </div>
        </div>
    </div>

    <div id="errorTextContainer" style="color: red">

    </div>

    <div id="bookAdditionalsContainer">
        <div id="collapsingButtonsContainer">
            <button class="btn btn-primary" type="button" onclick="toggleAuthSelection()">
                Toggle author selection
            </button>
        </div>

        <div id="collapsablesContainer">
            <div id="contentTextBox" style="color: var(--var-golden);"></div>
            <div class="collapsableBox" id="collapsableBoxAuth">
                <div class="collapsableBoxContent" id="collapsableBoxAuthContent">

                </div>
            </div>
        </div>

    </div>

    <div id="buttonContainer">
        <button type="button" class="btn btn-primary" onclick="window.location.href='/books_auth'">
            Choose another book
        </button>

        <!--Go back button-->
        <button type="button" class="btn btn-primary" onclick="window.location.href='/admin_menu'">
            Admin menu
        </button>
    </div>
</div>

<div id="hiddenFormContainer">

    <form id="hidden-book-form" action="#" th:action="@{/set_auth}" th:object="${book}"
          method="post">

        <label for="bookIdField" style="visibility: hidden"></label>
        <input type="text" class="form-control" style="width: 200px; visibility: hidden"
               name="idField"
               id="bookIdField"
               th:field="*{id}"/>

        <label for="authIdField" style="visibility: hidden"></label>
        <input type="text" class="form-control" style="width: 200px; visibility: hidden"
               name="idField"
               id="authIdField"
               th:field="*{secondId}"/>

        <label for="typeField" style="visibility: hidden"></label>
        <input type="text" class="form-control" style="width: 200px; visibility: hidden"
               name="typeField"
               id="typeField"
               th:field="*{typeE}"/>
    </form>
</div>

<!--WEB-APP SCRIPT SECTION-->
<script>bookAuthSelection()</script>
<!---->
</body>
</html>